# --- Discord Config (Required) ---
DISCORD_TOKEN=*discord_token*

# --- Port Config (Required) ---
PORT=3000

# --- GitHub Config (Optional) ---
# GITHUB_SECRET=*github_webhook_secret*

# --- Custom Pathing (Optional) ---
# GITHUB_CUSTOM_PATH=*custom_path*    # (if left blank, will default to `/github`)